<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Twitter -->
    <meta name="twitter:site" content="@themepixels">
    <meta name="twitter:creator" content="@themepixels">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Bracket">
    <meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="twitter:image" content="http://themepixels.me/bracket/img/bracket-social.png">

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/bracket">
    <meta property="og:title" content="Bracket">
    <meta property="og:description" content="Premium Quality and Responsive UI for Dashboard.">

    <meta property="og:image" content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:secure_url"
          content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">
    <meta name="theme-color" content="#5559db">

    <title>Profile Penjual - Ikan</title>

    <!-- vendor css -->
    <link href="../assets/lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../assets/lib/Ionicons/css/ionicons.css" rel="stylesheet">
    <link href="../assets/lib/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <link href="../assets/lib/jquery-switchbutton/jquery.switchButton.css" rel="stylesheet">

    <!-- Bracket CSS -->
    <link rel="stylesheet" href="../assets/css/bracket.css">
</head>

<body>

<!-- ########## START: LEFT PANEL ########## -->
<div class="br-logo"><a href=""><span>[</span>Ikan<span>]</span></a></div>
<div class="br-sideleft overflow-y-auto">
    <label class="sidebar-label pd-x-15 mg-t-20">Navigation</label>
    <div class="br-sideleft-menu" id="NavUser">
        <a href="../dashboard/index.html" class="br-menu-link">
            <div class="br-menu-item">
                <i class="fa fa-home"></i>
                <span class="menu-item-label">Halaman Utama</span>
            </div><!-- menu-item -->
        </a><!-- br-menu-link -->

    </div><!-- br-sideleft-menu -->
    <br>
</div><!-- br-sideleft -->
<!-- ########## END: LEFT PANEL ########## -->


<!--  -->
<!-- ########## START: HEAD PANEL ########## -->
<div class="br-header">
    <div class="br-header-left">
        <div class="navicon-left hidden-md-down"><a id="btnLeftMenu" href=""><i
                class="icon ion-navicon-round"></i></a></div>
        <div class="navicon-left hidden-lg-up"><a id="btnLeftMenuMobile" href=""><i
                class="icon ion-navicon-round"></i></a></div>

    </div>

    <!-- ########### START: RIGHT PANEL ######## -->
    <div class="br-header-right">

    </div>
</div><!-- br-header -->
<!-- ########## END: HEAD PANEL ########## -->

<!-- ########## START: MAIN PANEL ########## -->

<div class="br-mainpanel br-profile-page">

    <div class="card shadow-base bd-0 rounded-0 widget-4">
        <div class="card-header ht-75">
            &nbsp;
        </div>
        <div class="card-body pd-b-30">
            <div class="card-profile-img">
            </div><!-- card-profile-img -->
            <h4 class="tx-normal tx-roboto tx-white" id="nama_usaha1"></h4>
            <!-- <p class="mg-b-25">{{Nama Toko}}</p> -->

            <!-- <p class="wd-md-500 mg-md-l-auto mg-md-r-auto mg-b-25">{{Jenis Petani}}</p> -->

            <!-- <p class="mg-b-0 tx-24">
              <a href="" class="tx-white-8 mg-r-5"><i class="fa fa-facebook-official"></i></a>
              <a href="" class="tx-white-8 mg-r-5"><i class="fa fa-twitter"></i></a>
              <a href="" class="tx-white-8 mg-r-5"><i class="fa fa-pinterest"></i></a>
              <a href="" class="tx-white-8"><i class="fa fa-instagram"></i></a>
            </p> -->
        </div><!-- card-body -->
    </div><!-- card -->
    <div class="">
        <div class="card pd-t-20 pd-20 pd-xs-30 bd-0 mg-b-25 mg-t-25" id="InformasiPenjual">
            <table class="mg-b-20">
                <thead>
                    <tr>
                        <td><h6 class="tx-info tx-uppercase tx-bold tx-18">Informasi Usaha</h6>
                        </td>
                        <td class="text-right">
                            <button class="btn btn-oblong btn-primary" type="button" onclick="return window.location.href = 'edit_usaha.html';">
                                <i class="fa fa-edit" id="EditInformasi" title="Edit Informasi"></i>
                            </button>
                        </td>
                    </tr>
                </thead>
            </table>

            <label class="tx-15 tx-uppercase tx-medium tx-spacing-1 mg-b-2 label-control">Nama Usaha:</label>
            <p class="tx-inverse mg-b-25" id="nama_usaha2"></p>

            <label class="tx-15 tx-uppercase tx-medium tx-spacing-1 mg-b-2">Nama Penjual:</label>
            <p class="tx-inverse mg-b-25" id="nama_penjual"></p>

            <label class="tx-15 tx-uppercase tx-medium tx-spacing-1 mg-b-2">Alamat:</label>
            <p class="tx-inverse mg-b-25" id="alamat_usaha"></p>

            <label class="tx-15 tx-uppercase tx-medium tx-spacing-1 mg-b-2">Jumlah Kolam:</label>
            <p class="tx-inverse mg-b-25" id="jml_kolam"></p>

            <label class="tx-15 tx-uppercase tx-medium tx-spacing-1 mg-b-2">Kabupaten:</label>
            <p class="tx-inverse mg-b-25" id="kab"></p>

            <label class="tx-15 tx-uppercase tx-medium tx-spacing-1 mg-b-2">Kecamatan:</label>
            <p class="tx-inverse mg-b-25" id="kec"></p>

            <label class="tx-15 tx-uppercase tx-medium tx-spacing-1 mg-b-2">Kelurahan:</label>
            <p class="tx-inverse mg-b-25" id="kel"></p>
        </div>
        <div class="card pd-20 pd-xs-30 shadow-base bd-0 mg-b-20 mg-t-10" id="JenisTani">
            <table class="mg-b-20">
                <thead>
                <tr>
                    <td><h6 class="tx-info tx-uppercase tx-bold tx-18">Jadwal Pengiriman</h6>
                    </td>
                    <td class="text-right">
                        <button class="btn btn-oblong btn-primary" type="button" onclick="return window.location.href = 'edit_pengiriman.html';">
                            <i class="fa fa-edit"></i>
                        </button>
                    </td>
                </tr>
                </thead>
            </table>
            <label class="tx-15 tx-uppercase tx-spacing-1 mg-t-10">Jam Pengiriman:</label>
            <ul id="data-jam-pengiriman"></ul>
        </div>

    </div>

</div><!-- br-mainpanel -->
<!-- ########## END: MAIN PANEL ########## -->

<!-- ########## END: MAIN PANEL ########## -->

<script src="../assets/lib/jquery/jquery.js"></script>
<script src="../assets/lib/popper.js/popper.js"></script>
<script src="../assets/lib/bootstrap/bootstrap.js"></script>
<script src="../assets/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
<script src="../assets/lib/moment/moment.js"></script>
<script src="../assets/lib/jquery-ui/jquery-ui.js"></script>
<script src="../assets/lib/jquery-switchbutton/jquery.switchButton.js"></script>
<script src="../assets/lib/peity/jquery.peity.js"></script>

<script src="../assets/js/bracket.js"></script>
<script type="text/javascript" src="../js/mobile_script.js"></script>
<script type="text/javascript">
        var nama_usaha, id_usaha, jml_kapal, jml_kolam, alamat_usaha, kab, kapasitas_kapal, kec, kel, latitude, longitude, foto_usaha, nama_penjual;
        var html;
        $(document).ready(function(){
            $("#EditInformasi").click(function(){
                 window.location.href = "edit_profile.html";
            });
            $.ajax({
                url: base_url+'penjual/ambil_data_usaha_with_pj',
                type: 'POST',
                data: {id_akun:id_akun},
                dataType: 'JSON',
                success: function(e){
                    var length = JSON.stringify(e);
                    if(length.length>0){
                        nama_usaha = e.nama_usaha;
                        nama_penjual = e.nama_pj;
                        id_usaha = e.id_usaha;
                        jml_kapal = e.jml_kapal;
                        foto_usaha = e.foto_usaha;
                        alamat_usaha = e.alamat_usaha;
                        kab = e.kab;
                        kapasitas_kapal = e.kapasitas_kapal;
                        kel = e.kel;
                        kec = e.kec;
                        jml_kolam = e.jml_kolam;
                        latitude = e.latitude;
                        longitude = e.longitude;
                        var usaha = {id_usaha:id_usaha,nama_usaha:nama_usaha, jml_kapal:jml_kapal, foto_usaha:foto_usaha, jml_kolam:jml_kolam, alamat_usaha:alamat_usaha, kab_usaha:kab, kec_usaha:kec, kel_usaha:kel, latitude_usaha: latitude, longitude_usaha:longitude, nama_penjual:e.nama_pj};
                        storage.setItem('usaha', JSON.stringify(usaha));

                        $("#nama_usaha1, #nama_usaha2").html(nama_usaha);
                        $("#nama_penjual").html(nama_penjual);
                        $("#alamat_usaha").html(alamat_usaha);
                        $("#jml_kolam").html(jml_kolam);
                        $("#kab").html(kab);
                        $("#kec").html(kec);
                        $("#kel").html(kel);
                        if(foto_usaha!=null){
                          $(".card-profile-img").html("<img width=\"100\" height=\"100\" src=\""+base_url+ "foto_toko/"+foto_usaha+"\" alt=\"Foto Penjual\" id=\"fotoPJ\">");
                        }else{
                          $(".card-profile-img").html("<img src=\""+base_url+ "assets/img/logo.png\" alt=\"Foto Penjual\" id=\"fotoPJ\">");
                        }
                  }

              },
              error: function(e){
                  alert("data Gagal");
              }
          });
          
          $.ajax({
            url: base_url+'penjual/ambil_jam_pengiriman_usaha',
            type: 'POST',
            data: {id_usaha:storage.id_usaha},
            dataType: 'JSON',
            success: function(e){
            html = "";
                if(e.length>0){
                    $.each(e, function(key, value){
                        html += "<li class=\"tx-dark\" id='jam_pengiriman"+value.id_jampengiriman+"''>Pukul: "+value.jam_pengiriman+"</li>";
                    });
                    $("#data-jam-pengiriman").html(html);
                }else{
                    $("#data-jam-pengiriman").html("<p class='tx-grey'>Jadwal Pengiriman Masih Kosong</p>");
                }
            }
          });
        });

    function delete_rek(id_rekening){
        $.ajax({
            url: base_url + 'penjual/hapus_rekening',
            type: 'post',
            data: {id_rekening:id_rekening},
            success: function(e){
                if(e.status=='berhasil'){
                    window.location.href='profil.html';
                }
            }
        });
    }
</script>
</body>
</html>
